<ion-view view-title="更多">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar item-icon-right" type="item-text-wrap" href="#/tab/personal">
        <img ng-src="img/mike.png">
        <h2>mike</h2>
        <p>编辑个人资料</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <a class="item item-icon-left" href="#/tab/set">
        <i class="icon ion-ios-gear-outline"></i>
        设置
      </a>
    </ion-list>
    <div class="padding">
      <button class="button button-block button-assertive" ng-click="logOut()">安全退出</button>
    </div>
  </ion-content>
</ion-view>
