<ion-view view-title="统计">
  <ion-content class="padding">
    <ion-list>
      <div class="item item-divider">概况</div>
      <ion-item class="item" type="item-text-wrap">
        <div class="row">
          <div class="col">新增客户数</div>
          <div class="col">联系跟进次数</div>
        </div>
        <div class="row">
          <div class="col"><span style="font-weight: bold;">168</span>个</div>
          <div class="col"><span style="font-weight: bold;">33</span>次</div>
        </div>
        <div class="row">
          <div class="col">成交总额</div>
          <div class="col">成交单数</div>
        </div>
        <div class="row">
          <div class="col"><span style="font-weight: bold;">2,307,184</span>元</div>
          <div class="col"><span style="font-weight: bold;">24</span>单</div>
        </div>
        <div class="row">
          <div class="col">回款总额</div>
        </div>
        <div class="row">
          <div class="col"><span style="font-weight: bold;">365,558</span>元</div>
        </div>
      </ion-item>
      <ion-item class="item item-icon-left" type="item-text-wrap" href="#/tab/personal">
        <i class="icon ion-ios-timer-outline"></i>按时间统计
      </ion-item>
      <ion-item class="item item-icon-left" type="item-text-wrap" href="#/tab/personal">
        <i class="icon ion-levels"></i>按分类统计
      </ion-item>
      <ion-item class="item item-icon-left" type="item-text-wrap" href="#/tab/personal">
        <i class="icon ion-briefcase"></i>产品销售统计
      </ion-item>
      <ion-item class="item item-icon-left" type="item-text-wrap" href="#/tab/personal">
        <i class="icon ion-connection-bars"></i>业绩排行
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
