<ion-view view-title="信息">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item item-icon-left" type="item-text-wrap" href="#/tab/personal">
        <i class="icon ion-ios-timer-outline"></i>系统通知
      </ion-item>
      <ion-item class="item item-icon-left" type="item-text-wrap" href="#/tab/personal">
        <i class="icon ion-levels"></i>聊天信息
      </ion-item>
      <ion-item class="item item-icon-left" type="item-text-wrap" href="#/tab/personal">
        <i class="icon ion-briefcase"></i>代办任务列表
      </ion-item>
      <ion-item class="item item-icon-left" type="item-text-wrap" href="#/tab/personal">
        <i class="icon ion-connection-bars"></i>值班信息列表
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
